<fieldset>
	{% if label %}
	<legend>{{label}}</legend>
	{% endif %}
	{% for pathAsClassName, fieldHtmlChunk in fieldHtmlChunks %}
	<div class="{{pathAsClassName}}">{{ fieldHtmlChunk|raw }}</div>
	{% endfor %}
</fieldset>