<fieldset>
	{% if label %}
	<legend>{{label}}</legend>
	{% endif %}
	{% for class, fieldHtmlChunk in fieldHtmlChunks %}
	<div class="{{class}}">{{ fieldHtmlChunk|raw }}</div>
	{% endfor %}
</fieldset>